%div{'class' => 'row history'}
  %center
    %h4 Delivery History
  %hr
  %table{:class => "table table-hover"}
    %thead
      %tr
        %th ID
        %th Time
        %th Total Price
        %th SKU Count
        %th Picked Count
    %tbody
      - @deliveries.each do |delivery|
        %tr{'class' => 'print_button', 'url' => "#{print_packing_list_deliveries_url()}?id=#{delivery.id}"}
          %td #{delivery.id}
          %td #{delivery.placed_at.strftime('%F %T')}
          %td{'style' => 'text-align:right'} $#{delivery.picked_total_price}
          %td #{delivery.delivery_items.size}
          %td #{delivery.picked_quantity}
