
%div{'ng-controller' => 'PicklistCtrl'}
  %h Put buttons or links to options here: Download New Order, Remove Picked Orders, Sort by location
  %p Put time of day and number of unassigned orders on server here
  %p
    = button_tag 'Download New Order', 'ng-click' => "loadNewOrder()"
    = button_tag 'Remove Picked Orders', 'ng-click' => "removePickedOrders()"
    = button_tag 'Sort By Location', 'ng-click' => "loadOrdersByLocation()"
    = button_tag 'Out of Stock', 'ng-click' => "markAsOutOfStock()"
    = button_tag 'Print', 'id' =>'print_picking_list', 'class' => 'print_button', 'url'=> "#{ picking_print_deliveries_url() }"
    = button_tag 'Print Packing List', 'id' =>'print_packing_list', 'class' => 'print_button', 'url'=> "#{ print_packing_list_deliveries_url() }"
    = button_tag 'Print Packing List(out of picking list)', 'id' =>'print_packing_list_complete', 'class' => 'print_button', 'url'=> "#{ print_packing_list_deliveries_url() }?complete=1"
  %p
    %span#current_time{'ng-click' => "timer()"}
      {{time}}
    |
    Unpicked orders:
    %span#unpicked_order_count{'ng-click' => "refreshUnpickedCount()"}
      {{unpicked_count}}
  %form{ "ng-submit" => "pickProduct(1)"}
    = text_field_tag 'barcode', nil, "ng-model" => "scannedBarcode", "focus-me" => "focusScanner", placeholder: 'Item barcode'
    = submit_tag 'Submit Scanner Input'
    .flash
      .error
        {{errorMessage}}
      .notice
        {{notice}}

  %p
  %center
    %big Products To Be Picked
  %p
  %hr
  .current_product
    %span Product Name:
    %label {{mySelections[0].product_name}}
    |
    %span Location:
    %label {{mySelections[0].location}}
    |
    %span Picking Progress:
    %label {{mySelections[0].picking_progress}}
    |
    %span Store SKU:
    %label {{mySelections[0].store_sku}}
  #picklist.gridStyle{"ng-grid" => "gridOptions"}
