<!DOCTYPE html>
<html>
<head>
  <title>Print Preview</title>
  <style type="text/css">
    <!--
    *{margin: 0; padding: 0}
    @media print { .no-print, .no-print * { display: none !important; } }
    @page { size: auto; margin: 1cm}
    #print_page{
     width: 550px;
     margin:10px auto;
    }
    #print_page table,#print_page tr td, #print_page tr th{
      text-align: left;
      border-collapse: collapse;
    }
    table {
      width: 100%;
    }
    -->
  </style>
</head>
<body>
 <div class="no-print" style="text-align: right;padding: 10px;">
   <button onclick="window.print();">Print</button>
 </div>
 <div id="print_page" style="width: 508px; padding: 40px; margin: 0 auto;">
  <div id="header">
    <h1 style="text-align: center; margin-bottom:20px;"> Packing List</h1>
  </div>
   <% @deliveries.each do |delivery| %>
     <table>
       <thead>
         <tr>
           <th>Product Name</th>
           <th>Picked Qty</th>
           <th>Price</th>
           <th>Tax</th>
         </tr>
       </thead>
       <tbody>
         <% delivery.delivery_items.each do |delivery_item| %>
            <tr>
              <td><%= delivery_item.product_name %></td>
              <td style="width: 80px;"><%= delivery_item.picked_quantity %></td>
              <td style="width: 80px;"><%= delivery_item.picked_total_price %></td>
              <td style="width: 80px;"><%= delivery_item.tax %></td>
            </tr>
         <% end %>
       </tbody>
     <table>
     <h1 style="text-align: center; margin-top:20px;">Total <%= delivery.picked_total_price %></h1>
     <div style="page-break-after:always;border-bottom: 1px #cccccc dotted;"></div>
   <% end %>
 </div>

</body>
</html>
