%div.list-container
  %ul.list-unstyled.list-ul
    - @deliveries.each do |delivery|
      %li
        %h5.address= delivery.shipping_address
        %p= expected_delivery_window(delivery.placed_at)
        %p= "Delivery ID: #{delivery.id}   Item Quantity: #{delivery.quantity}"
  %div.link-to-unroute
    =link_to 'Go to unroute list', unroute_router_deliveries_url, target: '_blank'
%div.map-contianer
