%div.row.history
  %center
    %h4 Logs
  %hr
  %table.table.table-hover.table-selected
    %thead
      %tr
        %th Time
        %th Model
        %th Action
        %th Success
        %th Code
    %tbody
      - @logs.each do |log|
        %tr{'class' => 'link_button', 'url' => "#{admin_log_url(log)}"}
          %td #{log.created_at}
          %td #{log.model}
          %td #{log.action}
          %td #{log.success}
          %td #{log.code}
  = will_paginate @logs, :renderer => BootstrapLinkRender
