%div.row{'ng-controller' => 'ProductsCtrl'}
  %div.col-md-8
    %h3 Product List
  %div.form-box.col-md-4
    =render "search"
  %div.clearfix
  %div.col-md-12
    %hr
    - if @products.size == 0
      %div.alert.alert-warning
        %div.col-md-8
          <strong>Oops !!!</strong> The product doesn't exist. <strong>Do you wanna create one?</strong>
        %div.col-md-4
          %a.pull-right.btn.btn-primary.btn-xs{"href" => new_product_path }
            Create Product
    - if @products.size == 1
      = render "detail", :product => @products[0]
    - else
      %table.table.table-hover.table-selected
        %thead
          %tr
            %th Name
            %th Store SKU
            %th Location
            %th Price
        %tbody
          - @products.each do |product|
            %tr{'onclick' => "window.location='#{products_path()}?search=#{product.store_sku}'" }
              %td= product.name
              %td= product.store_sku
              %td= product.location.info if product.location
              %td= product.price
      = will_paginate @products, :renderer => BootstrapLinkRender
